
*{
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
body{
  margin-top:100px;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: inline-block;
}

.Language__box{
  margin:0;
  padding:0;
}

.Header{
  margin: 0;
  padding: 20px;
  box-shadow: 1px 1px 10px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.Navbar{
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar__logo{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: #222;
}

.Navbar__logo:hover{
  color: #999;
}

.Navbar__list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.Navbar__item{
  margin-left:33px;
  padding:5px;
  border-radius: 5px;
}

.Navbar__item a{
text-decoration: none;
font-size: 20px;
color: rgb(22, 21, 21);
padding: 5px;
}

.Navbar__item a:hover{
  background-color: #888;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s;
}

.Select{
  margin: 0;
  padding: 0;
  width: 60px;
  height: 25px;
  border: none;
  outline: none;
  background: #ccc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.NoutbookBox{
  margin: 0;
  padding-top:8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NoutbookBox__desc{
  margin-right:15px;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
}

.NoutbookBox__img{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
}

.NoutbookServices{
  margin: 0;
  padding-top:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NoutbookHeading{
 padding-top: 40px;
}
.NoutbookHeading h2{
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

.dellBox,
.hpBox,
.acerBox{
  margin: 0;
  padding: 8px;
  text-align: center;
}

.dellBox img{
width: 280px;
height: 200px;
}

.dellBox p{
  margin-top: 15px;
  padding: 4px;
  font-size: 30px;
  line-height: 30px;
}

.acerBox img{
  width: 280px;
  height: 200px;
}

.acerBox p{
  margin-top: 15px;
  padding: 4px;
  font-size: 30px;
  line-height: 30px;
}
.hpBox img{
  width: 280px;
  height: 200px;
}

.hpBox p{
  margin-top: 15px;
  padding: 4px;
  font-size: 30px;
  line-height: 30px;
}

.NoutbookPage{
  margin: 0;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NoutbookPage img{
  width: 100%;
  height:400px;
}
.NoutbookPage p{
margin-left: 10px;
padding: 0;
font-size: 18px;
line-height: 25px;
}

/* MODAL CSS */

.modalDell,
.modalAcer,
.modalHp{
  margin: 0;
  padding: 60px 20px 20px 20px;
  position: relative;
  width: 700px;
  height: 500px;
  position: fixed;
  top: 20%;
  left: 25%;
  background-color: #fff;
  z-index: 4;
  border: none;
  box-shadow: 2px 2px 10px #777;
}

.modalDellBtn,
.modalAcerBtn,
.modalHpBtn{
 position: absolute;
 top: 10px;
 right: 10px;
 width: 40px;
 height: 40px;
 border: none;
 outline: none;
 cursor: pointer;
 display: inline-block;
 background-color: rgb(0, 0, 0,0);
 border: 2px solid #fff;
 color: #ccc;
 transition: 3s initial;
}

.modalDellBtn:hover{
  border: 2px solid #ccc;
  border-radius: 4px;
}

.modalDellBtn:active{
  background: rgb(255, 0, 0);
  color: #fff;
}

.bi-x-lg{
  font-size: 30px;
}

.modalAcerBtn:hover{
  border: 2px solid #ccc;
  border-radius: 4px;
}

.modalAcerBtn:active{
  background: rgb(255, 0, 0);
  color: #fff;
}

.modalHpBtn:hover{
  border: 2px solid #ccc;
  border-radius: 4px;
}

.modalHpBtn:active{
  background: rgb(255, 0, 0);
  color: #fff;
}